html,
body {
    height: 100%;
    font-size: 1rem;
}

.gradient {
    background: rgb(255,0,181);
background: linear-gradient(90deg, rgba(255,0,181,1) 0%, rgba(0,224,255,1) 50%, rgba(255,214,0,1) 100%);
}
    

.page-header{
    margin-top:4rem;
    font-size: 30px;
    color:black;
    font-family: 'Amatic SC', cursive;  
}

.navbar{
    font-family: 'Amatic SC', cursive;
    font-size: 1.75rem;
}

